@charset "UTF-8";
@import url(../../../css/csslayer.css);
.die {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 3px;
  border-radius: 20%;
  transform: translateZ(18px);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.die.small {
  margin: 0 -2px;
  transform: scale3d(0.7, 0.7, 0.7) translateZ(18px);
}
.die.rolled {
  animation: rolled-die 1s forwards;
  transform: translateY(-40vh);
}
.die.small.rolled {
  animation: rolled-die-small 1s forwards;
  transform: scale3d(0.7, 0.7, 0.7) translateZ(18px) translateY(-40vh);
}
.die.selectable {
  cursor: pointer;
}
.die.selectable.selected {
  box-shadow: 0 0 4px 4px red;
}
.die.used {
  filter: grayscale(1);
}

@keyframes selected-dice-animation {
  100% {
    box-shadow: 0 0 8px 4px red;
  }
}
.highlight {
  animation: highlight-animation 0.75s alternate 2;
}

@keyframes rolled-die {
  100% {
    transform: initial;
  }
}
@keyframes rolled-die-small {
  100% {
    transform: scale3d(0.7, 0.7, 0.7) translateZ(18px);
  }
}
.die-list {
  pointer-events: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  list-style-type: none;
  width: 100%;
  transform-style: preserve-3d;
}

.die-item {
  pointer-events: none;
  display: grid;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20%;
  border-style: outset;
  border-width: 1px;
  box-sizing: border-box;
  background-size: auto 100%;
}
.die-item.color1 {
  background-image: url("img/die1.png");
}
.die-item.color2 {
  background-image: url("img/die2.png");
}
.die-item.color3 {
  background-image: url("img/die3.png");
}
.die-item.color4 {
  background-image: url("img/die4.png");
}
.die-item.color5 {
  background-image: url("img/die5.png");
}
.die-item.color6 {
  background-image: url("img/die6.png");
}
.die-item.color7 {
  background-image: url("img/die7.png");
}
.die-item.color8 {
  background-image: url("img/die8.png");
}
.die-item.color1 {
  border-color: #00995c;
}
.die-item.color2 {
  border-color: #0077ba;
}
.die-item.color3 {
  border-color: #57cbf5;
}
.die-item.color4 {
  border-color: #bf1e2e;
}
.die-item.color5 {
  border-color: #ea7d28;
}
.die-item.color6 {
  border-color: #8a298a;
}
.die-item.color7 {
  border-color: #ffd503;
}
.die-item.color8 {
  border-color: #000000;
}
.die-item.side1 {
  background-position: 0% 100%;
}
.die-item.side2 {
  background-position: 20% 100%;
}
.die-item.side3 {
  background-position: 40% 100%;
}
.die-item.side4 {
  background-position: 60% 100%;
}
.die-item.side5 {
  background-position: 80% 100%;
}
.die-item.side6 {
  background-position: 100% 100%;
}

[data-roll-type=even] {
  transition: transform 0.9s ease-out;
}

[data-roll-type=odd] {
  transition: transform 1.1s ease-out;
}

[data-roll-type="-"] {
  transition: transform 0;
}

[data-roll-type=change] {
  transition: transform 0.5s ease-in-out;
}

[data-roll-type=even][data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

[data-roll-type=even][data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

[data-roll-type=even][data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

[data-roll-type=even][data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

[data-roll-type=even][data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

[data-roll-type=even][data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
}

[data-roll-type=odd][data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}

[data-roll-type=odd][data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}

[data-roll-type=odd][data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}

[data-roll-type=odd][data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}

[data-roll-type=odd][data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}

[data-roll-type=odd][data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-540deg);
}

[data-roll-type="-"][data-roll="1"] {
  transform: rotateX(0deg) rotateY(720deg) rotateZ(0deg);
}

[data-roll-type="-"][data-roll="2"] {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

[data-roll-type="-"][data-roll="3"] {
  transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}

[data-roll-type="-"][data-roll="4"] {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

[data-roll-type="-"][data-roll="5"] {
  transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}

[data-roll-type="-"][data-roll="6"] {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
}

[data-roll-type=change][data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}

[data-roll-type=change][data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}

[data-roll-type=change][data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}

[data-roll-type=change][data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}

[data-roll-type=change][data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}

[data-roll-type=change][data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
}

[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(1rem);
}

[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(1rem);
}

[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(1rem);
}

[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(1rem);
}

[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(1rem);
}

[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(1rem);
}

#generalactions .die-item {
  width: 36px;
  height: 36px;
}

#board {
  position: relative;
  width: 916px;
  height: 477px;
}
#board.side1 {
  background-image: url("img/side1.png");
}
#board.side2 {
  background-image: url("img/side2.png");
}
#board .point-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 50%;
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: none;
}
#board .point-marker.color-blind::after {
  font-size: 120%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -4px;
}
#board .point-marker.color-blind[data-player-no="1"]::after {
  content: "●";
}
#board .point-marker.color-blind[data-player-no="2"]::after {
  content: "▲";
}
#board .point-marker.color-blind[data-player-no="3"]::after {
  content: "■";
}
#board .point-marker.color-blind[data-player-no="4"]::after {
  content: "◆";
}
#board.hidden-tokens .point-marker, #board.hidden-tokens #meeple0 {
  opacity: 0.2;
}
#board.hidden-meeples .token {
  opacity: 0.3;
}
#board #meeple0 {
  top: -5px;
  left: -5px;
}
#board .destination-zone {
  position: absolute;
  border: 3px dashed transparent;
  border-radius: 50%;
  cursor: pointer;
}
#board .destination-zone.big {
  width: 85px;
  height: 50px;
}
#board .destination-zone.small {
  width: 30px;
  height: 30px;
}
#board .destination-zone.unselectable {
  pointer-events: none;
}
#board .destination-arrow {
  position: absolute;
  background: url("img/arrow.svg") no-repeat center/contain;
  width: 85px;
  height: 50px;
  cursor: pointer;
  transform-origin: center center;
}
#board #table-dice {
  position: absolute;
  left: -105px;
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#board .token {
  transition: transform 0.5s linear;
  position: absolute;
  top: 0;
  left: 0;
}

#meeting-track {
  position: relative;
  width: 916px;
  height: 163px;
  background-image: url("img/meeting-track.png");
  margin-bottom: 260px;
}
#meeting-track .meeting-track-zone {
  position: absolute;
  width: 129px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#meeting-track .meeting-track-zone.dice {
  top: 20px;
  height: 60px;
}
#meeting-track .meeting-track-zone.dice.selectable {
  cursor: pointer;
  box-shadow: 0 0 4px 4px red;
}
#meeting-track .meeting-track-zone.footprints {
  top: 85px;
  height: 60px;
}
#meeting-track .meeting-track-stock {
  position: absolute;
  top: 163px;
  height: 240px;
  width: 129px;
}
#meeting-track .meeting-track-solo-tile {
  position: absolute;
  top: -135px;
  height: 129px;
  width: 129px;
}
#meeting-track .footprint-token {
  position: relative;
  box-shadow: 0 0 2px 4px white;
}
#meeting-track #deck {
  left: -150px;
}
#meeting-track #deckB {
  left: -300px;
}
#meeting-track #cemetery {
  left: 55px;
}
#meeting-track #solo-tiles {
  left: -150px;
}
#meeting-track #solo-tiles-discard {
  left: 55px;
}
#meeting-track .hidden-pile {
  background-image: url("img/companions.png");
  position: absolute;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;
}
#meeting-track .hidden-pile[data-type="0"] {
  visibility: hidden;
}
#meeting-track .hidden-pile[data-type="1"] {
  background-position: 0% 0%;
}
#meeting-track .hidden-pile[data-type="2"] {
  background-position: 44.444% 50%;
}
#meeting-track .hidden-pile.solo-tiles {
  top: -135px;
  height: 129px;
  background: white;
  border: 1px solid gray;
}
#meeting-track .hidden-pile.solo-tiles.hidden {
  display: none;
}

#currentplayertable .whiteblock, #playerstables .whiteblock {
  padding: 0;
}
#currentplayertable .player-table .name-and-dice, #playerstables .player-table .name-and-dice {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
#currentplayertable .player-table .name-and-dice .player-name, #playerstables .player-table .name-and-dice .player-name {
  transition: background-color 0.5s;
  background-color: black;
  color: white;
  font-family: "glow";
  font-size: 230%;
  font-weight: unset;
  padding: 5px;
  min-width: 200px;
  text-align: center;
  white-space: nowrap;
  margin-right: 20px;
}
#currentplayertable .player-table .name-and-dice .player-tokens, #playerstables .player-table .name-and-dice .player-tokens {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: fit-content;
  grid-column-gap: 8px;
  min-height: 32px;
  margin-right: 20px;
}
#currentplayertable .player-table .name-and-dice .player-tokens .player-tokens-type > div:not(:first-child), #playerstables .player-table .name-and-dice .player-tokens .player-tokens-type > div:not(:first-child) {
  margin-left: -20px;
}
#currentplayertable .player-table .name-and-dice .player-tokens .player-dice, #playerstables .player-table .name-and-dice .player-tokens .player-dice {
  height: 42px;
}
#currentplayertable .player-table .player-table-spells .stockitem, #playerstables .player-table .player-table-spells .stockitem {
  border: 0;
  border-radius: 50%;
}
#currentplayertable .player-table .player-table-spells .stockitem.selectable, #playerstables .player-table .player-table-spells .stockitem.selectable {
  cursor: pointer;
  box-shadow: 0 0 4px 4px red;
}
#currentplayertable .player-table .player-table-spells.normal, #playerstables .player-table .player-table-spells.normal {
  width: 70px;
}
#currentplayertable .player-table .player-table-spells.normal.hidden, #playerstables .player-table .player-table-spells.normal.hidden {
  display: none;
}
#currentplayertable .player-table .player-table-companion-spell, #playerstables .player-table .player-table-companion-spell {
  position: absolute;
  top: 80px;
  width: 100%;
}
#currentplayertable .player-table .player-table-companion-spell .stockitem, #playerstables .player-table .player-table-companion-spell .stockitem {
  border-radius: 50%;
}
#currentplayertable .player-table .player-table-companion-spell .stockitem.selectable, #playerstables .player-table .player-table-companion-spell .stockitem.selectable {
  cursor: pointer;
  box-shadow: 0 0 4px 4px red;
}
#currentplayertable .player-table .adventurer-and-companions, #playerstables .player-table .adventurer-and-companions {
  display: flex;
}
#currentplayertable .player-table .adventurer-and-companions .player-table-adventurer, #playerstables .player-table .adventurer-and-companions .player-table-adventurer {
  width: 160px;
}
#currentplayertable .player-table .adventurer-and-companions .player-table-companions, #playerstables .player-table .adventurer-and-companions .player-table-companions {
  flex: 1;
}

#glow-help-button {
  position: fixed;
  bottom: 12px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: black;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 0px black;
  cursor: pointer;
  z-index: 949;
  font-size: 28pt;
}

/* we show help button if user has no mouse ( = no tooltips) */
@media (hover: hover) {
  #glow-help-button {
    bottom: 5px;
  }
}
#popin_glowHelpDialog {
  background: white;
  background-repeat: repeat;
  max-width: 100vw;
  max-height: 80vh;
  overflow: hidden;
}

#help-popin {
  max-width: 35rem;
  max-height: calc(80vh - 80px);
  overflow: auto;
}
#help-popin h1 {
  color: black;
}
#help-popin .help-section table {
  border-spacing: 10px;
  border-collapse: separate;
}
#help-popin #help-companions .companion {
  width: 129px;
  height: 240px;
  background-image: url("img/companions.png");
  border-radius: 10px;
  border: 1px solid gray;
}
#help-popin #help-companions #companion44 {
  background-position: -500% -400%;
}
#help-popin #help-companions #companion10 {
  background-position: 0% -100%;
}
#help-popin #help-companions #companion20 {
  background-position: 0% -200%;
}
#help-popin #help-companions #companion41 {
  background-position: -200% -400%;
}

ol.help-list {
  padding: 10px;
}

.help-special-spell {
  width: 64px;
  height: 64px;
  background-image: url("img/spells.png");
  background-position: 50% 50%;
  border-radius: 50%;
  border: 1px solid gray;
  float: left;
  margin: 10px;
}

.player-board {
  background-color: white;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .reroll-counter, .player-board .counters .footprint-counter, .player-board .counters .firefly-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
}
.player-board .counters .icon[data-activated=false] {
  filter: grayscale(1);
}
.player-board .token {
  margin: 5px;
}
.player-board #firstPlayerToken {
  background: url("img/first-player.png");
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

#avatar_active_0 {
  background: url("img/gear.png");
}

html {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

.mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

@font-face {
  font-family: "glow";
  src: url("img/glow.woff2") format("woff2"), url("img/glow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.round-token {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/tokens.png");
  background-size: auto 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px black;
}
.round-token.reroll {
  background-position: 0% 0%;
}
.round-token.footprint {
  background-position: 50% 0%;
}
.round-token.firefly {
  background-position: 100% 0%;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}
#zoom-wrapper #full-table {
  transform-origin: left top;
}

#full-board-wrapper {
  display: flex;
  justify-content: center;
  overflow: auto;
}
#full-board-wrapper #full-board {
  width: 916px;
}

.stockitem {
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}
.stockitem.selectable {
  cursor: pointer;
  box-shadow: 0 0 4px 4px red;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.reroll {
  background-position: 0% 0%;
}
.icon.footprint {
  background-position: 11.1111111111% 0%;
}
.icon.firefly {
  background-position: 22.2222222222% 0%;
}
.icon.point {
  background-position: 33.3333333333% 0%;
}
.icon.symbol0 {
  background-position: 44.4444444444% 100%;
}
.icon.symbol1 {
  background-position: 55.5555555556% 100%;
}
.icon.symbol2 {
  background-position: 66.6666666667% 100%;
}
.icon.symbol3 {
  background-position: 77.7777777778% 100%;
}
.icon.symbol4 {
  background-position: 88.8888888889% 100%;
}
.icon.symbol5 {
  background-position: 100% 100%;
}

#page-title .icon {
  width: 20px;
  height: 20px;
}
#page-title .icon {
  margin: -5px 0;
}

#adventurers-stock {
  margin-bottom: 20px;
}

#middle-band {
  background: white;
  display: flex;
  align-items: center;
}
#middle-band #round-counter-wrapper {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  flex: 1;
}
#middle-band.solo {
  padding-bottom: 139px;
}
#middle-band.solo #round-counter-wrapper-max-days {
  display: none;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background: black;
  color: white;
}

.bgabutton_blue {
  background: #525252;
  border: 1px solid #282828;
}

.bgabutton_red {
  background: #2a2a2a;
  border: 1px solid #000000;
}

.action-button.bgabutton.disabled {
  background: #b5b5b5;
}

.tooltip-effect-title {
  font-weight: bold;
}

.dijitTooltipContents .icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.avatar_active, #active_player_statusbar_icon, #logoiconimg {
  filter: grayscale(1);
}

.token {
  width: 24px;
  height: 24px;
}
.token.meeple1 {
  mask: url("img/company.svg") no-repeat center/contain;
  -webkit-mask: url("img/company.svg") no-repeat center/contain;
}
.token.meeple2 {
  mask: url("img/encampment.svg") no-repeat center/contain;
  -webkit-mask: url("img/encampment.svg") no-repeat center/contain;
}
.token.meeple0 {
  mask: url("img/boat.svg") no-repeat center/contain;
  -webkit-mask: url("img/boat.svg") no-repeat center/contain;
}
.token.color-blind::after {
  font-size: 120%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.token.color-blind[data-player-no="1"]::after {
  content: "●";
}
.token.color-blind[data-player-no="2"]::after {
  content: "▲";
}
.token.color-blind[data-player-no="3"]::after {
  content: "■";
}
.token.color-blind[data-player-no="4"]::after {
  content: "◆";
}

#new-day {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  opacity: 0;
  z-index: 100;
}
#new-day.new-day-animation {
  animation: new-day-animation 2.5s 1 forwards;
}

@keyframes new-day-animation {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.card-inner {
  position: absolute;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-inner.flipped {
  border: 0;
  background: unset;
  transform: rotateY(180deg);
}
.card-inner:not(.flipped) .card-front, .card-inner:not(.flipped) .card-back {
  display: none;
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid gray;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  background-image: url("img/companions.png");
}
.card-back.backA {
  background-position: 0% 0%;
}
.card-back.backB {
  background-position: 44.444% 50%;
}

.die-icon {
  border-radius: 20%;
  background-size: auto 100%;
  display: inline-block;
  margin-bottom: -4px;
}
.die-icon[data-color="1"] {
  background-image: url("img/die1.png");
}
.die-icon[data-color="2"] {
  background-image: url("img/die2.png");
}
.die-icon[data-color="3"] {
  background-image: url("img/die3.png");
}
.die-icon[data-color="4"] {
  background-image: url("img/die4.png");
}
.die-icon[data-color="5"] {
  background-image: url("img/die5.png");
}
.die-icon[data-color="6"] {
  background-image: url("img/die6.png");
}
.die-icon[data-color="7"] {
  background-image: url("img/die7.png");
}
.die-icon[data-color="8"] {
  background-image: url("img/die8.png");
}
.die-icon[data-face="1"] {
  background-position: 0% 100%;
}
.die-icon[data-face="2"] {
  background-position: 20% 100%;
}
.die-icon[data-face="3"] {
  background-position: 40% 100%;
}
.die-icon[data-face="4"] {
  background-position: 60% 100%;
}
.die-icon[data-face="5"] {
  background-position: 80% 100%;
}
.die-icon[data-face="6"] {
  background-position: 100% 100%;
}

.dijitTooltipContents .die-icon {
  width: 32px;
  height: 32px;
  margin: 5px;
}

.log .die-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.gamelogreview .die-icon {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

#globalaction_zoom_wrap {
  visibility: hidden;
}
