@import url(../../../css/csslayer.css);
/*@import 'table/table';
@import 'players-tables/players-tables';
@import 'discarded-machines-selector/discarded-machines-selector';
@import 'help';
}*/
.player-board {
  background-color: white;
}

html {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

.mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-repeat: repeat;
}
