@import url(../../../css/csslayer.css);
#board {
  position: relative;
  width: 1656px;
  height: 862px;
}
#board.side1 {
  background-image: url("img/side1.png");
}
#board.side2 {
  background-image: url("img/side2.png");
}

#meeting-track {
  position: relative;
  width: 1656px;
  height: 294px;
  background-image: url("img/meeting-track.png");
}

/*@import 'players-tables/players-tables';
@import 'discarded-machines-selector/discarded-machines-selector';
@import 'help';
}*/
.player-board {
  background-color: white;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .reroll-counter, .player-board .counters .footprint-counter, .player-board .counters .firefly-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
}

html {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

.mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

.stockitem {
  border-radius: 10px;
  margin: 5px;
  border: 1px solid gray;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}
.icon.reroll {
  background-position: 0% 0%;
}
.icon.footprint {
  background-position: 50% 0%;
}
.icon.firefly {
  background-position: 100% 0%;
}

#adventurers-stock {
  margin-bottom: 20px;
}
