#board {
  position: relative;
  width: 1656px;
  height: 862px;

  &.side1 {
    background-image: url('img/side1.png');
  }

  &.side2 {
    background-image: url('img/side2.png');
  }
}

#meeting-track {
  position: relative;
  width: 1656px;
  height: 294px;
  background-image: url('img/meeting-track.png');  
}