#board {
  position: relative;
  width: 916px;
  height: 477px;
  background-size: 100% 100%, 100% 100%;

  &.side1 {
    background-image: url('img/side1.png');

    &.hd {
      background-image: url('img/side1-hd.png'), url('img/side1.png');
    }
  }

  &.side2 {
    background-image: url('img/side2.png');

    &.hd {
      background-image: url('img/side2-hd.png'), url('img/side2.png');
    }
  }

  #token-solo-board {
    position: absolute;
    background-image: url("img/token-solo-board.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    left: 565px;
    top: 223px;
  }

  .point-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50%; 
    transition: transform 0.5s, opacity 0.5s; 
    pointer-events: none;
    
    &.color-blind {
      &::after {
        font-size: 120%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: -4px;
      }

      &[data-player-no="1"]::after {
        content: '●'; // circle
      }

      &[data-player-no="2"]::after {
        content: '▲'; // triangle
      }

      &[data-player-no="3"]::after {
        content: '■'; // square
      }

      &[data-player-no="4"]::after {
        content: '◆'; // diamond
      }
    }
  }

  &.hidden-tokens {
    .point-marker, #meeple0 {
      opacity: 0.2;
    } 
  }

  &.hidden-meeples {
    .token {
      opacity: 0.3;
    }
  }

  #meeple0 {
    top: -5px;
    left: -5px;
  }

  .destination-zone {
    position: absolute;
    border: 3px dashed /*red*/transparent;
    border-radius: 50%;
    cursor: pointer;

    &.big {
      width: 85px;
      height: 50px;
    }

    &.small {
      width: 30px;
      height: 30px;
    }

    &.unselectable {
      pointer-events: none;
    }
  }

  .destination-arrow {
    position: absolute;
    background: url('img/arrow.svg') no-repeat center / contain;
    width: 85px;
    height: 50px;
    cursor: pointer;
    transform-origin: center center;
  }

  #table-dice {
    position: absolute;
    left: -105px;
    width: 50px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .token {    
    transition: transform 0.5s linear;
    position: absolute;
    top: 0;
    left: 0;
  }
}
