#board {
  position: relative;
  width: 916px;
  height: 477px;

  &.side1 {
    background-image: url('img/side1.png');
  }

  &.side2 {
    background-image: url('img/side2.png');
  }

  .point-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50%;
    background-image: url('img/points.png');
    background-size: auto 100%;   
    transition: transform 0.5s, opacity 0.5s; 
    pointer-events: none;
  }

  &.hidden-tokens {
    .point-marker {
      opacity: 0.2;
    }    
  }

  .token {
    width: 24px; 
    height: 24px;  
    transition: transform 0.5s linear;
    position: absolute;
    top: 0;
    left: 0;
    
    &.meeple1 {
      mask: url('img/company.svg') no-repeat center / contain;
      -webkit-mask: url('img/company.svg') no-repeat center / contain;    
    }
    &.meeple2 {
      mask: url('img/encampment.svg') no-repeat center / contain;
      -webkit-mask: url('img/encampment.svg') no-repeat center / contain;    
    }
    &.meeple0 {
      mask: url('img/boat.svg') no-repeat center / contain;
      -webkit-mask: url('img/boat.svg') no-repeat center / contain;    
    }
  }

  .destination-zone {
    position: absolute;
    border: 3px dashed red;
    border-radius: 50%;
    cursor: pointer;

    &.big {
      width: 85px;
      height: 50px;
    }

    &.small {
      width: 30px;
      height: 30px;
    }

    &.unselectable {
      pointer-events: none;
    }
  }

  .destination-arrow {
    position: absolute;
    background: url('img/arrow.svg') no-repeat center / contain;
    width: 80px;
    height: 30px;
    cursor: pointer;
  }

  #table-dice {
    position: absolute;
    left: -105px;
    width: 50px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}