$size: 0.25rem;

.die {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 20%;
    transform: translateZ(18px);

    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);

    &.small {
      margin: 0 -2px;
      transform: scale3d(0.7,0.7,0.7) translateZ(18px);
    }

    &.rolled {
        animation: rolled-die 1s forwards;
        transform: translateY(-40vh);
    }

    &.small.rolled {
        animation: rolled-die-small 1s forwards;
        transform: scale3d(0.7,0.7,0.7) translateZ(18px) translateY(-40vh);
    }

    &.selectable {
      cursor: pointer;

      &.selected {
        // animation: selected-dice-animation 0.5s alternate infinite;
        box-shadow: 0 0 4px 4px red;
      }
    }

    &.used {
      filter: grayscale(1);
    }
}

@keyframes selected-dice-animation {
    100% { 
      box-shadow: 0 0 8px 4px red;
    }
}

.highlight {
  animation: highlight-animation 0.75s alternate 2;
}

@keyframes rolled-die {
    100% { transform: initial; }
}

@keyframes rolled-die-small {
    100% { transform: scale3d(0.7,0.7,0.7) translateZ(18px); }
}

  .die-list {
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    list-style-type: none;
    width: 100%;
    transform-style: preserve-3d;
  }

  .die-item {
    pointer-events: none;
    display: grid;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1;

    border-radius: 20%;
    border-style: outset;
    border-width: 1px;

    box-sizing: border-box;

    @for $i from 1 through 8 {
        &.color#{$i} {
            background-image: url('img/die#{$i}.png');
        }
    }

    
    &.color1 { border-color: #00995c; }
    &.color2 { border-color: #0077ba; }
    &.color3 { border-color: #57cbf5; }
    &.color4 { border-color: #bf1e2e; }
    &.color5 { border-color: #ea7d28; }
    &.color6 { border-color: #8a298a; }
    &.color7 { border-color: #ffd503; }
    &.color8 { border-color: #000000; }

    background-size: auto 100%;

    @for $i from 1 through 6 {
        &.side#{$i} {
            background-position: (($i - 1) * 20%) 100%;
        }
    }
  }

  [data-roll-type="even"] {
    transition: transform 0.9s ease-out;
  }
  [data-roll-type="odd"] {
    transition: transform 1.1s ease-out;
  }
  [data-roll-type="-"] {
    transition: transform 0;
  }
  [data-roll-type="change"] {
    transition: transform 0.5s ease-in-out;
  }

  [data-roll-type="even"][data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="even"][data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
  }
  [data-roll-type="odd"][data-roll="1"] {
    transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="2"] {
    transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="3"] {
    transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="4"] {
    transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="5"] {
    transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
  }
  [data-roll-type="odd"][data-roll="6"] {
    transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-540deg);
  }
  [data-roll-type="-"][data-roll="1"] {
    transform: rotateX(0deg) rotateY(720deg) rotateZ(0deg);
  }
  [data-roll-type="-"][data-roll="2"] {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  [data-roll-type="-"][data-roll="3"] {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  [data-roll-type="-"][data-roll="4"] {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  }
  [data-roll-type="-"][data-roll="5"] {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
  }
  [data-roll-type="-"][data-roll="6"] {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(180deg);
  }
  [data-roll-type="change"][data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
  }
  [data-roll-type="change"][data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(540deg);
  }

  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(4*$size);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(4*$size);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(4*$size);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(4*$size);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(4*$size);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(4*$size);
  }

#generalactions {
  .die-item {
    width: 36px;
    height: 36px;
  }
}