@import url(../../../css/csslayer.css);

@import 'dice';
@import 'board/board';
@import 'meeting-track/meeting-track';
@import 'players-tables/players-tables';
@import 'help';

@import 'playerboards';

html {
    background: url('img/background.jpg');
    background-repeat: repeat;
}

.mode_3d #game_play_area_background {
    background: url('img/background.jpg');
    background-repeat: repeat;
}

.stockitem {
  border-radius: 10px;
  margin: 5px;
  border: 1px solid gray;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/icons.png');
  background-size: auto 100%;

  &.reroll {
    background-position: 0% 0%;
  }

  &.footprint {
    background-position: 50% 0%;
  }

  &.firefly {
    background-position: 100% 0%;
  }
}

#adventurers-stock {
    margin-bottom: 20px;
}

#round-counter-wrapper {
  text-align: center;
  background: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background: black;
  color: white;
}