
#currentplayertable, #playerstables {

    .whiteblock {
        padding: 0;
    }

    .player-table {

        .name-column {
            position: relative;
            padding: 5px;
        }

        .player-table-dice {
            height: 42px;
        }

        .player-table-spells {
            .stockitem {
                border: 0;
                border-radius: 50%;

                &.selectable {
                  cursor: pointer;
                  box-shadow: 0 0 4px 4px red;
                }
            }
        }

        .player-table-companion-spell {
            position: absolute;
            top: 80px;
            width: 100%;

            .stockitem {
                border-radius: 50%;

                &.selectable {
                  cursor: pointer;
                  box-shadow: 0 0 4px 4px red;
                }
            }

        }

        .adventurer-and-companions {
            display: grid;
            grid-template-columns: 160px auto;
        }
    }
}