
#currentplayertable, #playerstables {

    .whiteblock {
        padding: 0;
    }

    .player-table {

        .name-column {
            position: relative;
            padding: 5px;
        }

        .player-table-dice {
            height: 42px;
        }

        .player-table-spells {
            .stockitem {
                border: 0;
                border-radius: 50%;
            }
        }

        .adventurer-and-companions {
            display: grid;
            grid-template-columns: 160px auto;
        }
    }
}