
#currentplayertable, #playerstables {

    .whiteblock {
        padding: 0;
    }

    .player-table {

        .name-and-dice {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            flex-wrap: wrap;

            .player-name {
                transition: background-color 0.5s;
                background-color: black;
                color: white;
                font-family: 'glow';
                font-size: 230%;
                font-weight: unset;
                padding: 5px;
                min-width: 200px;
                text-align: center;
                white-space: nowrap;
                margin-right: 20px;
            }

            .player-tokens {
                display: grid;
                grid-template-columns: repeat(3, auto);
                width: fit-content;
                grid-column-gap: 8px;
                min-height: 32px;
                margin-right: 20px;
    
                .player-tokens-type {    
                    &>div:not(:first-child) {
                        margin-left: -20px;
                    }
                }
            }

            .player-dice, .player-dice-grid {
                .die {
                    &.highlight-green {
                        box-shadow: 0 0 4px 4px green;
                    }

                    &.highlight-red {
                        box-shadow: 0 0 4px 4px red;                    
                    }
                }
            }

            .player-dice-grid {
                display: grid;
                grid-template-columns: repeat(8, auto);
                column-gap: 8px;

                .th-symbol {
                    text-align: center;
                    border-bottom: 2px solid transparent;

                    sub {
                        vertical-align: bottom;
                    }
                }

                $colors: (1: #00995c, 2: #0077ba, 3: #57cbf5, 4: #bf1e2e, 5: #ea7d28,  6: #8a298a, 7: #ffd503, 8: #000000);
                @each $colorIndex, $color in $colors {
                    .th-symbol#{$colorIndex} {
                        border-color: $color;
                    }
                }

                .hidden {
                    display: none;
                }
            }

            .player-symbol-count {
                background: url('img/symbol-count.png') no-repeat center;
                width: 80px;
                height: 80px;  
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 160%; 
                margin-left: 10px;     
            }
        }

        .player-table-spells {
            
            .stockitem {
                border: 0;
                border-radius: 50%;

                &.selectable {
                  cursor: pointer;
                  box-shadow: 0 0 4px 4px red;
                }
            }

            &.normal {
                width: 70px;

                &.hidden {
                    display: none;
                }
            }
        }

        .player-table-companion-spell {
            position: absolute;
            top: 80px;
            width: 100%;

            .stockitem {
                border-radius: 50%;

                &.selectable {
                  cursor: pointer;
                  box-shadow: 0 0 4px 4px red;
                }
            }

        }

        .adventurer-and-companions {
            display: flex;

            .player-table-adventurer {
                width: 160px;
            }
            .player-table-companions {
                flex: 1;
            }
        }
    }
}