#meeting-track {
  position: relative;
  width: 916px;
  height: 163px;
  background-image: url('img/meeting-track.png'); 
  margin-bottom: 260px; 

  .meeting-track-zone {
    position: absolute;
    width: 142px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &.dice {      
      top: 20px;
      height: 60px;
    }

    &.footprints {      
      top: 85px;
      height: 60px;
    }
  }

  .meeting-track-stock {
    position: absolute;
    top: 158px;
    height: 250px;
  }

  .footprint-token {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('img/footprint-token.png');
    box-shadow: 0 0 2px 4px white;
    border-radius: 50%;
  }
}