#meeting-track {
  position: relative;
  width: 916px;
  height: 163px;
  background-image: url('img/meeting-track.png'); 
  margin-bottom: 260px; 

  .meeting-track-zone {
    position: absolute;
    width: 129px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &.dice {      
      top: 20px;
      height: 60px;      

      &.selectable {
        cursor: pointer;
        box-shadow: 0 0 4px 4px red;
      }
    }

    &.footprints {      
      top: 85px;
      height: 60px;
    }
  }

  .meeting-track-stock {
    position: absolute;
    top: 163px;
    height: 240px;
    width: 129px;
  }

  .meeting-track-solo-tile {
    position: absolute;
    top: -137px;
    height: 129px;
    width: 129px;

  }

  .footprint-token {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('img/footprint-token.png');
    box-shadow: 0 0 2px 4px white;
    border-radius: 50%;
  }

  #deck {
    left: -150px;
  }

  #cemetery {
    left: 55px;
  }

  #solo-tiles {
    left: -150px;
    top: -137px;
    height: 129px;
  }

  .hidden-pile {
    background-image: url('img/companions.png');
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px #333, 5px 5px 3px black;

    &[data-type="0"] {
      visibility: hidden;
    }

    &[data-type="1"] {
      background-position: 0% 0%;
    }

    &[data-type="2"] {
      background-position: 44.444% 50%;
    }

    &#solo-tiles {
      background: white;
      border: 1px solid gray;
    }
  }
}